body {
    height: 100vh;
    background-color: #C6C5C5;
    font-family: 'Orbitron', sans-serif;
}

canvas {
    width: 600px;
    height: 600px;
}

.hide {
    display: none;
}

.show {
    display: contents;
}

header {
    font-family: 'Audiowide', cursive;
}

.center {
    width: 750px;
    margin: auto;
}

h1 {
    font-size: 150px;
    background: linear-gradient(rgb(60, 216, 216), #4267b2);
    background-clip: content-box;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 150px;
}

h2 {
    font-size: 24px;
    color: white;
    font-weight: 700;
    padding-top: 150px;
}

span {
    font-size: 32px;
}

.success h3 {
    font-size: 24px;
    color: green;
    font-weight: 700;
}

.fa-check-circle {
    font-size: 200px;
    color: green;
}

.denied h3 {
    font-size: 24px;
    color: red;
    font-weight: 700;
}

.fa-times-circle {
    font-size: 200px;
    color: red;
}

/* face recognition css */

.page-container {
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
    padding-left: 260px;
    display: inline-flex !important;
  }
  
  @media only screen and (max-width : 992px) {
    .page-container {
      padding-left: 0;
      display: flex !important;
    }
  }
  
  #navbar {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .side-by-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .side-by-side >* {
    margin: 0 5px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .margin-sm {
    margin: 5px;
  }
  
  .margin {
    margin: 20px;
  }
  
  .button-sm {
    padding: 0 10px !important;
  }
  
  #github-link {
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    margin-bottom: 10px;
  }
  
  #overlay, .overlay {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #facesContainer canvas {
    margin: 10px;
  }